<!-- 引入头部 -->
<% include ../header %>
	
<div class="main-content">
	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">
			try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
		</script>

		<ul class="breadcrumb">
			<li>
				<i class="icon-home home-icon"></i>
				<a href="#">首页</a>
			</li>

			<li>
				<a href="#">友情链接</a>
			</li>
			<li class="active">友情链接列表</li>
		</ul><!-- .breadcrumb -->

		<div class="nav-search" id="nav-search">
			<form class="form-search">
				<span class="input-icon">
					<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
					<i class="icon-search nav-search-icon"></i>
				</span>
			</form>
		</div><!-- #nav-search -->
	</div>

	<div class="page-content">
		<div class="page-header">
			<h1>
				友情链接
				<small>
					<i class="icon-double-angle-right"></i>
					友情链接列表
				</small>
			</h1>
		</div><!-- /.page-header -->

		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->

				<div class="row">
					<div class="col-xs-12">
						<div class="table-responsive">
							<% if(succ.length){ %>
                    			<p class="alert alert-info"><%= succ %></p>
               				 <%  } %>
							<table id="sample-table-1" class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
										<th class="center">
											<label>
												<input type="checkbox" class="ace" />
												<span class="lbl"></span>
											</label>
										</th>
										<th>网站LOGO</th>
										<th>网站名称</th>
										<th>网址</th>
										<th>联系邮箱</th>
										<th>网站介绍</th>
										<th>审核状态</th>
										<th>高级操作</th>
										
									</tr>
								</thead>
								<% kindData.forEach(function(kind){ %>
									<%= console.log(kind) %>
								<tbody>
									<td class="center">
										<label>
											<input type="checkbox" class="ace" />
											<span class="lbl"></span>
										</label>
									</td>
									<td>
										<img style="width:100px;" src="<%= kind.webpic %>" alt="" />	
									</td>
									<td>
										<%= kind.webName %>	
									</td>
									<td>
										<%= kind.webUrl %>	
									</td>
									<td>
										<%= kind.email %>	
									</td>
									<td>
										<%= kind.webContent %>	
									</td>
									
									<td class="hidden-480">
										<div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
											<span class="btn btn-xs <%= kind.isShow==1?'btn-info':'btn-danger' %>"><%= kind.isShow==1?'审核通过':'等待审核' %></span>
										</div>
									</td>
									
									<td class="hidden-480">
										<a href="/admin/kinddoNo?_id=<%= kind._id %>" class="btn btn-xs btn-primary">
											<span class="">审核</span>
										</a>
										<a href="/admin/kindEdit?_id=<%= kind._id %>" class="btn btn-xs btn-warning">
											<span class="">预览修改</span>
										</a>
										<a href="/admin/kindRemove?_id=<%= kind._id %>" class="btn btn-xs btn-danger">
											<span class="">删除</span>
										</a>
									</td>						
								</tbody>
								<% }) %>
							</table>


						</div><!-- /.table-responsive -->
					</div><!-- /span -->
				</div><!-- /row -->

			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.page-content -->
</div><!-- /.main-content -->

<!-- 引入底部 -->
<% include ../footer %>